Repository trixi-framework/Trixi.jl, pull requests merged in 2025-07, with the labels that each got.

#2421 Nontrivial Coupling Simulation: LBM + Polytropic Euler
  examples/structured_2d_dgsem/elixir_lbm_eulerpolytropic_coupled.jl
  examples/structured_2d_dgsem/elixir_lbm_lid_driven_cavity.jl
  src/equations/lattice_boltzmann_2d.jl
  src/equations/lattice_boltzmann_3d.jl
  src/equations/polytropic_euler_2d.jl
  test/test_structured_2d.jl
Labels: low-priority, example, merge me

#2469 moving out `OneTo` in `DGMulti` shock capturing
  src/solvers/dgmulti/shock_capturing.jl
Labels: performance

#2212 Use Adapt.jl to change storage and element type
  .buildkite/pipeline.yml
  .github/workflows/GPUCompat.yml
  NEWS.md
  Project.toml
  docs/Project.toml
  docs/make.jl
  docs/src/heterogeneous.md
  docs/src/styleguide.md
  examples/p4est_2d_dgsem/elixir_advection_basic_gpu.jl
  ext/TrixiAMDGPUExt.jl
  ext/TrixiCUDAExt.jl
  src/Trixi.jl
  src/auxiliary/containers.jl
  src/auxiliary/vector_of_arrays.jl
  src/semidiscretization/semidiscretization.jl
  src/semidiscretization/semidiscretization_hyperbolic.jl
  src/solvers/dg.jl
  src/solvers/dgmulti/dg.jl
  src/solvers/dgsem/basis_lobatto_legendre.jl
  src/solvers/dgsem_p4est/containers.jl
  src/solvers/dgsem_p4est/containers_parallel.jl
  src/solvers/dgsem_p4est/dg_3d.jl
  src/solvers/dgsem_p4est/dg_parallel.jl
  src/solvers/dgsem_unstructured/sort_boundary_conditions.jl
  test/Project.toml
  test/runtests.jl
  test/test_amdgpu.jl
  test/test_aqua.jl
  test/test_cuda.jl
  test/test_p4est_2d.jl
  test/test_unstructured_2d.jl
Labels: gpu

#2476 Support serial execution and introduce backend preference
  NEWS.md
  Project.toml
  src/Trixi.jl
  src/auxiliary/auxiliary.jl
  src/auxiliary/containers.jl
  src/auxiliary/math.jl
  src/callbacks_step/summary.jl
  src/solvers/dg.jl
Labels: parallelization, breaking

#2468 Example 1D Visualization Callback
  NEWS.md
  examples/tree_1d_dgsem/elixir_advection_extended.jl
  examples/tree_2d_dgsem/elixir_advection_amr_visualization.jl
  src/callbacks_step/visualization.jl
  src/visualization/recipes_plots.jl
  src/visualization/types.jl
  test/test_tree_1d.jl
  test/test_visualization.jl
Labels: visualization, low-priority, breaking, example
